################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Bight.Neural/obj
/src/Bight.Neural/bin
/src/Bight.DataSets/obj
/src/Bight.DataSets/bin
